/* google font nunito */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/* common styles */
/* Reset Line */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Ubuntu", serif;
  font-weight: 400;
}

/* variables color */
:root {
  --primary-color: #faffc5;
  --secondary-color: #5e686d;
  --accent-color: #a9bfa8;
  --background-color: #3a3960;
  --text-color: #000000;
  --color-fancy-blue: #3f418d;
  --color-fancy-blue-2: #9db0ec;
  --color-fancy-blue-3: #5c6ac4;
  --color-fancy-green: #3fba47;
  --color-fancy-green-2: #396c2f;
  --color-fancy-green-3: #a3c664;
  --color-fancy-yellow: #f8ee00;
  --color-fancy-yellow-2: #fcc707;
  --color-fancy-yellow-3: #f8d210;
  --color-fancy-red: #fb6542;
  --color-fancy-red-2: #9a0001;
  --color-fancy-cherry: #962e2a;
  --color-fancy-teal: #1995ad;
  --color-pastel-pink: #f9eded;
  --color-bubble-pink: #f4ccd2;
  --color-fancy-dark: #2d3048;
  --color-fancy-dark-2: #1e1f2b;
  --dark-bg: #000000;
  --white-bg: #ffffff;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  min-height: 100vh;
  background-color: var(--background-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*end of common styles */

/* header */

.header {
  /* border: 2px solid red; */
  display: flex;
  height: 50rem;
  min-width: 100%;
}
.header-img {
  height: 40rem;
  width: 40rem;
  display: block;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  /* filter: grayscale(1); */
  margin: 4rem;
}
.header-heading {
  text-align: center;
  color: var(--primary-color);
  text-decoration: underline;
  display: inline-block;
  margin-top: 20rem;
  font-size: 5rem;
}

.header-details {
  /* border: 2px solid green; */
  position: absolute;
  display: flex;
  align-items: end;
  right: 2rem;
  bottom: 7rem;
}

.header-details-icon {
  color: var(--primary-color);
  font-size: 2rem;
  margin-right: 0.7rem;
}

.header-details-mail {
  font-size: 2rem;
  color: var(--primary-color);
  text-decoration: none;
  font-style: normal;
}

.header-details-mail:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

/* end of header */

/* development */
.development {
  margin: 0;
  min-width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  /* max-width: 80ch; */
}

/* progress */
.progress {
  /* border: 5px solid green; */
  width: 75%;
  height: 99vh;
}

.abstract {
  /* border: 1px solid blue; */
  width: 25%;
  height: 99vh;
}

.progress-section {
  margin-bottom: 4rem;
}

.text-wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  border: none;
  outline: none;
  /* border:1px solid red; */
}

.icon-wrap {
  color: var(--primary-color);
  font-size: 2rem;
  position: absolute;
  margin-left: 2rem;
  box-shadow: 0 0 1rem var(--primary-color);
}

.employment-icon {
  margin-top: 0.7rem;
}

.progress-heading {
  font-size: 3rem;
  color: var(--primary-color);
  text-decoration: underline;
  margin-left: 5rem;
}
/* toggle btn */
.toggle-btn {
  display: flex;
  
  margin-left: 2rem;
  /* border: 1px solid red; */

  border-radius: 50%;
  border: none;
  outline: none;
}
.toggle-button {
  color: var(--primary-color);
  font-size: 2.2rem;
  border: none;
  outline: none;
  outline-style: none;

  background: var(--accent-color);
  /* /background-color: var(--background-color); */
}
.icon-toggle-button {
  color: var(--primary-color);
  font-size: 2.2rem;
  background: var(--background-color);

  transform: scale(1.5);
}

.fa-thumbs-down {
  display: none;
}
/* end of toggle button */

.progress-paragraph {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-left: 1.2rem;
  margin-top: 0.8rem;
}

.progress-wrapper {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  color: var(--primary-color);
}

.progress-wrapper-job {
  font-size: 1.8rem;
  margin-top: 1rem;
  /* border: 1px solid red; */
  width: 20%;
  font-weight: 300;
  font-style: italic;
}

.progress-wrapper-list {
  /* border: 1px solid red; */
  width: 80%;
  margin-right: 0.1rem;
}

.progress-wrapper-company {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: 900;
}

.progress-wrapper-date {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  color: var(--accent-color);
  margin-left: 3rem;
}

.progress-wrapper-place {
  font-weight: bold;
  margin-left: 1rem;
}

.progress-wrapper-ability {
  margin: 0.5rem 0;
}

.progress-wrapper-ability-item {
  list-style-type: circle;
  font-style: italic;
}

.progress-paragraph-link {
  color: var(--accent-color);
  text-decoration: none;
}

/* end of progress  */
/* abstract */
.languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.languages-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.abstract-heading-langueges {
  color: var(--accent-color);
  font-size: 1.2rem;
}
.abstract-paragraph-languages {
  color: var(--accent-color);
  font-size: 0.7rem;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
}

.driving {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abstract-heading {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-top: 3rem;
}

.abstract-paragraph {
  font-size: 1.2rem;
  color: var(--accent-color);
  margin-top: 0.8rem;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.github {
  font-size: 1.2rem;
  color: var(--accent-color);
  margin-top: 0.8rem;
}

.aside-icon {
  font-size: 1.2rem;
  color: var(--accent-color);
}
.aside-link {
  font-size: 1.2rem;
  color: var(--accent-color);
}

.technical-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* end of abstract */

/* end of development */
